@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --animate-slide-up: slide-up 0.25s ease-out;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
